*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(45deg,black,green);
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
/* Aqui vai ser centralizado e estilizado a div da calculadora*/
position: absolute;
background-color: rgba(0, 0, 0, 0.7);
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-radius: 15px;
padding: 15px;
}
.fundo h1{
    text-align: center;
    padding: 10px;
}
.botão{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;
}
#resultado{
    background-color: white;
    width: 210px;
    height: 35px;
    align-items: center;
    text-align: right;
    margin: 5px;
    padding: 5px;
}
.botão:hover{
    background-color: black;
}